{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  About
{% endblock %}
{% block content %}
<br>
<div class="container">
  <h4>ONLINE SHOPPING MADE EASY AT PERFECT CUSHION STORE</h4>
  <p>If you would like to experience the best of online shopping in India, you are at the right place. Perfect cushion store is the ultimate destination for fashion, being host to a wide array of merchandise including poleyster cushion, cotton cushion and many more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at Perfect cushion store from the comfort of your home and get your favourites delivered right to your doorstep.</p>
  <br>
  <h4>BEST ONLINE SHOPPING SITE IN INDIA FOR CUSHION</h4>
  <p>Be it cushion, Perfect cushion store offers you the ideal combination of cushion of all variety. You will realise that the sky is the limit when it comes to the types of cushions that you can purchase for different places.</p>

</div>
{% endblock %}
