<div class="container">    
    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
            <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
            <span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>     
    </section>

<br>


<!-- 
<footer class="section footer-classic context-dark bg-image" style="background: white;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
    
                <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>GROCERS</span><span>. </span><span>All Rights Reserved.</span></p>
              
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>KANODAR-385520</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">grocers@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">+91-9545651565</a> <span>or</span> <a href="tel:#">+91-5651651115</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
        </div>
      </footer>
      </div -->

    <footer class="footer-distributed">
 
    <div class="footer-left">
 
    <h3><span>Grocers</span></h3>
 
    <p class="footer-links">
    <a href="{% url 'shop:allProdCat' %}">Home</a>
  ·
    <a href="#">Blog</a>
  
    <!-- <a href="#">Pricing</a> -->
  ·
    <a href="{% url 'shop:about' %}">About</a>
  
    <!-- <a href="#">Faq</a> -->
  ·
    <a href="{% url 'shop:contact' %}">Contact</a>
    </p>
 
    <p class="footer-company-name">Grocers &copy; 2020</p>
    </div>
 
    <div class="footer-center">
 
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>21 palanpur</span> Gujarat, India</p>
    </div>
 
    <div>
    <i class="fa fa-phone"></i>
    <p>+91 9584511485</p>
    </div>
 
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">contact@grocers.com</a></p>
    </div>
 
    </div>
 
    <div class="footer-right">
 
    <p class="footer-company-about">
    <span>About the company</span>
  Grocers is a web application for customers who wants to buy products online.
    </p>
 
    <div class="footer-icons">
 
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
 
    </div>
 
    </div>
 
    </footer>

</div>
